apiVersion: apps/v1
kind: Deployment
metadata:
  name: file-service
  namespace: file-demo
spec:
  replicas: 2
  selector:
    matchLabels:
      app: file-service
  template:
    metadata:
      labels:
        app: file-service
    spec:
      containers:
        - name: file-service
          image: file-service:latest
          imagePullPolicy: IfNotPresent
          ports:
            - containerPort: 8080
          volumeMounts:
            - name: file-data
              mountPath: /data
      volumes:
        - name: file-data
          persistentVolumeClaim:
            claimName: pvc-file-data
