apiVersion: v1
kind: Service
metadata:
  name: file-service
  namespace: file-demo
spec:
  type: NodePort
  selector:
    app: file-service
  ports:
    - name: http
      port: 80
      targetPort: 8080
      nodePort: 30080
